version: '3.8'
services:
  api:
    container_name: api
    image: ghcr.io/volodymyr-oleksiienko/spec-forge-api:${APP_VERSION}
    restart: always
    networks:
      - shared_network
    environment:
      - THC_PATH=/actuator/health/liveness
      - THC_PORT=8080
      - BPL_JVM_THREAD_COUNT=50
      - JAVA_TOOL_OPTIONS=-Xmx300m -Xss768k -XX:ReservedCodeCacheSize=48M
      - SERVER_TOMCAT_THREADS_MAX=50
      - SERVER_TOMCAT_THREADS_MIN_SPARE=5
      - SERVER_TOMCAT_CONNECTION_TIMEOUT=20000
      - SERVER_SHUTDOWN=graceful
      - APP_OTEL_ENABLED=${APP_OTEL_ENABLED}
      - APP_OTEL_ENDPOINT=${APP_OTEL_ENDPOINT}
      - APP_OTEL_AUTH_HEADER_VALUE=${APP_OTEL_AUTH_HEADER_VALUE}
      - APP_LOGGING_HTTP_ENABLED=${APP_LOGGING_HTTP_ENABLED}
    healthcheck:
      test: [ "CMD", "/workspace/health-check" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  shared_network:
    external: true