version: '3.8'
services:
  api:
    container_name: api
    image: ghcr.io/volodymyr-oleksiienko/spec-forge-api:${APP_VERSION}
    restart: always
    networks:
      - shared_network
    healthcheck:
      test: [ "CMD", "/cnb/lifecycle/health-check" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  shared_network:
    external: true